# Для разработки без использования Docker

SECRET_KEY=replace-with-a-secure-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-new-password
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Admin
TEST_USER_PASSWORD=testpassword1234